<div class = "container">
    <a href = "http://localhost:4200/home"> Home </a>
    <a href = "http://localhost:4200/nev/nevoias">Nevoiasi</a>   
    <a href = "http://localhost:4200/add/adresa">Adrese</a>  
    <a href = "http://localhost:4200/don/donator">Donator</a>   
    <a href = "http://localhost:4200/pro/proba">Proba</a>   
    <a href = "http://localhost:4200/comp/competitie">Competitie</a> 
    <a href = "http://localhost:4200/cl/club">Club</a>    
    <a href = "http://localhost:4200/sp/sport">Sport</a>  
    <a href = "http://localhost:4200/antr/antrenor">Antrenor</a>    
    <a href = "http://localhost:4200/ist/istoric">Istoric</a>
</div>
<button mat-raised-button (click)="onLogout()">Logout</button>
Logged user: {{loggedUser.email}}
<p  class = "text">Bun venit! Aceasta aplicatie a fost conceputa pentru a ajuta sportivii care sunt pusi in dificultate sa poata obtine echipamente cat mai performante pentru sportul practicat</p>
<p  class = "text">De aceea, va rugam sa le oferiti lucruri cat mai bune.</p>
<p  class = "text"> De asemenea, puteti sa urmariti rezultatele sportivilor nostri la concursuri, sa vedeti antrenorii care ii indruma si cluburile de care apartin</p>
