<div class = "container">
    <a href = "http://localhost:4200/home"> Home </a>
    <a href = "http://localhost:4200/nev/nevoias">Nevoiasi</a>   
    <a href = "http://localhost:4200/add/adresa">Adrese</a>  
    <a href = "http://localhost:4200/don/donator">Donator</a>   
    <a href = "http://localhost:4200/pro/proba">Proba</a>   
    <a href = "http://localhost:4200/comp/competitie">Competitie</a> 
    <a href = "http://localhost:4200/cl/club">Club</a>    
    <a href = "http://localhost:4200/sp/sport">Sport</a>  
    <a href = "http://localhost:4200/antr/antrenor">Antrenor</a>    
    <a href = "http://localhost:4200/ist/istoric">Istoric</a>
</div>

