<div class="container">
    <h1 class="title">
        Editeaza Club
    </h1>
    <form [formGroup] = "clubForm" class="form">
        <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Club Id" formControlName="id"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email"/>
        </mat-form-field>

        <button mat-raised-button (click)="save()" appHoverBtn>Salveaza</button>
    </form>
</div>

