<app-navbar></app-navbar>
<div class = "container">
    <h1 class="title">
        Antrenorii Sportului
    </h1> 

    <table mat-table [dataSource]="antrSport" class="mat-elevation-z8 table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="numeAntrenor">
            <th mat-header-cell *matHeaderCellDef> Nume </th>
            <td mat-cell *matCellDef="let element"> {{element.numeAntrenor}} </td>
        </ng-container>
      
        <ng-container matColumnDef="prenumeAntrenor">
            <th mat-header-cell *matHeaderCellDef> Prenume </th>
            <td mat-cell *matCellDef="let element">{{element.prenumeAntrenor}} </td>
        </ng-container>

        <ng-container matColumnDef="aniExperienta">
            <th mat-header-cell *matHeaderCellDef> Experienta </th>
            <td mat-cell *matCellDef="let element">{{element.aniExperienta}}  ani</td>
        </ng-container>

        <ng-container matColumnDef="numeClub">
            <th mat-header-cell *matHeaderCellDef> Nume club </th>
            <td mat-cell *matCellDef="let element">{{element.numeClub}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
    <button mat-raised-button onclick="location.href='/antr/antrenor';">Antrenori</button>
    <button mat-raised-button onclick="location.href='/sp/sport';">Sporturi</button>
